.container-card{
    height: 490px;
    width: 380px;
    padding: 20px;

}
.container-img{
    height: 68%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}
.button{
    background-color: rgb(255, 145, 0);
    color: white;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 3s;
}
.button :hover{
    background-color: white;
    color: rgb(255, 145, 0);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.size{
    font-size: small;
    color: #777777;
}
.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}